
{% extends "layout.html" %}

{% block content %}
    <h2>Bestehende ToDos</h2>
    <div class="sort">
        <form action="" method="get">
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <button type="submit" value="Sortieren" class="glyphicon glyphicon-refresh"></button>
        </form>
    </div>
    <section class="addTaskCat">
            <a href="{% url 'new_task' %}" title= "Neuer Eintrag" class="addtask glyphicon glyphicon-plus-sign"></a>
            <a href="{% url 'new_category' %}" title="Neue Kategorie" class ="addcat glyphicon glyphicon-tags"></a>
    </section>
    <div class="entries">
        <ul>
            {% for entry in all_todos %}
                <li class = "todoentry">
                    <div>
                        {% if entry.done is True %}
                            <span class="glyphicon glyphicon-ok-circle done donesign"></span>
                        {% elif entry.important is True%}
                            <span class="glyphicon glyphicon-ok-circle important donesign"></span>
                        {%else %}
                            <span class="glyphicon glyphicon-ok-circle undone donesign"></span>
                        {%endif%}
                        <div class = "task_text">{{entry.text}}</div>
                        <section class="taskbuttons">
                            {% if entry.done is False %}
                            <form action="{% url 'finish_task' entry.id %}" method="POST" title="Als erledigt markieren" class="taskbutton">
                                {% csrf_token %}
                                <button type="submit" class="glyphicon glyphicon-ok finishtask"></button>
                            </form>
                            {%else%}
                            <form action="{% url 'reopen_task' entry.id %}" method="POST" title="Als unerledigt markieren" class="taskbutton">
                                {% csrf_token %}
                                <button type="submit" class="glyphicon glyphicon-repeat reopentask"></button>
                            </form>
                            {%endif%}
                            <!--a href="{% url 'delete_task' entry.id %}" data-confirm="Sicher?" data-method="delete" >Löschen</a-->
                            <form action="{% url 'delete_task' entry.id %}" method="POST" class="taskbutton">
                                {% csrf_token %}
                                <button onclick="return confirm('Sicher?')" type="submit" title="Löschen" class="deletetask glyphicon glyphicon-trash"></button>
                            </form>
                            <a href="{% url 'edit_task' entry.id %}" title="Bearbeiten" class="taskbutton"><span class="glyphicon glyphicon-pencil"></span></a>
                        </section>
                        <div class="task_date">{{entry.due_date}}</div>
                        <div class="task_category glyphicon glyphicon-tags" title="Kategorie">{{entry.category_id.name}}</div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}