<h1>Django ToDo List</h1>
<section class="main">
    <h2>Bestehende ToDos</h2>
    <div>
        <ol>
            {% for entry in all_todos %}
                <li>
                    <div>
                    {{entry.done|yesno:"Erledigt, Offen"}}
                    {{entry.text}}
                    {{entry.due_date}}
                    {{entry.category_id.name}}
                    <a href="{% url 'edit_task' entry.id %}">Bearbeiten</a>
                    <!--a href="{% url 'delete_task' entry.id %}" data-confirm="Sicher?" data-method="delete" >Löschen</a-->
                    <form action="{% url 'delete_task' entry.id %}" method="POST">
                        {% csrf_token %}
                        <input onclick="return confirm('Sicher?')" type="submit" value="Löschen"/>
                    </form>
                
                </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>
<section>
    <a href="{% url 'new_task' %}">Eintrag hinzufügen</a>
</section>
